MONGO_URI=mongodb://localhost:27017
MONGO_DB=trackbucks
SECRET_KEY=d8f7s98fsd78f9sd87f98sd7f
GEMINI_API_KEY=AQ.Ab8RN6JHka2R8pF1t598EK9BFCu3HoJzNFOGwWGleFld0aXG_A
SMTP_EMAIL=srivishnu2006rk@gmail.com
SMTP_PASSWORD=uxqz sxqb dlpo gxog
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
DISASTER_THRESHOLD_STOCK=5.0
DISASTER_THRESHOLD_MF=3.0
POLL_INTERVAL_MINUTES=15
